.letter{
    font-family: 'Roboto', sans-serif;
}
.margin{
    margin-top: 18rem;
}



.fa-react{
    color: #61dafb;
}
.fa-js{
    color: #f3e31b ;
}
.mar {
    margin: 2rem;
}
.background{
    background: #f5f5f5;
}
p{
    margin: 0;
}
.row{
    padding: 0px !important;
}
.title{
    padding:5rem 0 3rem 0 ;
}

.sub-title{
    padding-bottom: 2rem;
    line-height: 2rem;
}
.paragraph{
    line-height: 3rem;
}
.title-2{
    padding-top:11.2rem;
}

/*icon download*/
.fa-angle-double-down{
    margin-right: 0.5rem;
}
/*button*/
.btn{
    background-color: #3f42fc;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 3vh;
    height: 3rem;
    margin: 2rem 0 1rem 0;
}
.btn:hover{
    background-color: #3538da;
    color: rgb(255, 255, 255);
}

